---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Digitrion Copiadoras - Your trusted partner for office solutions." />
    <title>Digitrion Copiadoras</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main>
      <slot></slot>
    </main>
  </body>
</html>
